*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #e0f2fe;
	text-decoration: underline;
}

/* OUTER LAYOUT */

.grid-container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
	width: 100%;
	height: 100vh;
}

/* HEADER LAYOUT + STYLING */

.header {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	box-shadow: 2px 2px 5px lightgray;
	z-index: 1;
}

/* SIDEBAR LAYOUT + STYLING */

.sidebar {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	background-color: #0ea5e9;
	border: 1px solid red;
	color: white;
}

.sidebar-item-wrapper {
	display: grid;
	margin-top: 1.5rem;
	width: 100%;
	grid-template-areas: repeat(10, 1fr) / 1fr;
	border: 1px solid magenta;
}

.sidebar-item-wrapper div {
	display: flex;
	align-items: center;
	text-align: center;
	/* border: 1px solid green; */
	margin: 0.5rem 0;
	font-weight: bold;
}

.sidebar-item-wrapper div:nth-child(2),
.sidebar-item-wrapper div:nth-child(8) {
	margin-top: 3rem;
}

.sidebar-item-wrapper .logo > img {
	scale: 1.5;
}

.sidebar-item-wrapper .sidebar-header {
	font-size: 1.8rem;
}

.sidebar-item-wrapper a {
	font-size: 1.3rem;
	display: inline;
}

.sidebar-item-wrapper div div {
	width: 10%;
	margin: 0 1.5rem;
}

/* MAIN CONTENT LAYOUT + STYLING */

.main {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: #e0f2fe;
}
